* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 32px;
  min-height: 100vh;
  background-color: #323031;
  font: 14px 'Poppins', sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  border-radius: 9em;
  width: 8px;
  height: 8px;
  background-color: #5f5b5d;
}

::-webkit-scrollbar-thumb {
  border-radius: 9em;
  background-color: #7d787a;
}

::-webkit-scrollbar-corner {
  display: none;
}

picture {
  display: inline-flex;
}
